apiVersion: apps/v1
kind: Deployment
metadata:
  name: onlyoffice
  namespace: notes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: onlyoffice
  template:
    metadata:
      labels:
        app: onlyoffice
    spec:
      containers:
        - name: onlyoffice
          image: onlyoffice/documentserver:8.1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: JWT_ENABLED
              value: "false"
          resources:
            requests:
              cpu: 250m
              memory: 768Mi
            limits:
              cpu: 1000m
              memory: 2Gi
